@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --purple: #b13fff;
    --palecyan: #edebff;
    --darkcyan: #00252e;
    --grayblue: #808d99;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.hamburger {
    display:none;
}

body {
    width:100%;
    font-family:Open Sans, sans-serif;
    font-size:16px;
}

.container {
    max-width:1200px;
    width:90%;
}

h1, h3 {
    font-family:Poppins;
    font-size:2.5em;
}

h3 {
    font-family:Poppins;
    font-size:1.8em;
}

header {
    display:flex;
    justify-content: center;
    background-image: url(images/shapesbackg.svg);
    background-size:cover;
    background-color:#ebf4ff;
    padding-bottom:5%;
}

header .container {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto 1fr;

}

header .container div:first-of-type {
    grid-column:1/span 2;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:3.5% 0% 5% 0%;
}

header>div>img {
    width:100%;
}

a {
    text-decoration:none;
    font-weight: 700;
}

a:active {
    transform:translateY(1px);
}


/*Nav Buttons*/
header ul {
    list-style: none;
}

header ul li {
    display:inline-block;
}

header li a {
    color:black;
    margin-left: 3em;
    font-size: 1.2em;
    font-family: Poppins;
}

header li a:hover {
    color:var(--purple);
    border-top:3px solid black;
    transition: color 0.2s;
    transition:border-top 0.1s;
}

header li a:active {
    color: var(--purple);
}

header .container div:nth-of-type(2) {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 7% 10% 10% 0%;
}

header .container div:nth-of-type(2) p {
    font-size:1.1em;
}

/*Get Started For Free Buttons*/
.largeButton {
    width:13em;
    padding:0.75em 1em;
    margin-top:1em;
    background:linear-gradient(0deg, rgb(185, 82, 255) 0%, rgb(107, 94, 255) 100%);
    color:white;
    border-radius:35px;
    box-shadow:3px 3px 11px -3px rgba(0,0,0,0.32);
    text-align:center;
}

.largeButton:hover {
    filter:brightness(110%);
}


.largebutton:active {
    transform:translateY(1px);
    box-shadow:1px 1px 11px -3px rgba(0,0,0,0.32);
}

/*---------------------------INFO SECTION STYLES---------------------------*/

main {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:2.5em 0;
}


.infoCard {
    display:flex;
    justify-content: space-between;
    gap:10%;
    border-radius:15px;
    box-shadow:0px 0px 8px -1px rgba(0,0,0,0.25);
    padding: 2em 3em;
    margin: 2.5em 20%;
    transition: 0.5s;
    max-width:1400px;
}

.infoCard div {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.infoCard p {
    color:var(--grayblue);
    font-size:1.1rem;
    line-height:1.6;
    margin-top:5px;
}

.infoCard div:nth-of-type(2) {
    grid-column:3;
}

.infoCard img {
    width:100%;
}

.infoCard:hover {
    transform:translateY(-10px);
}


/*---------------------------FOOTER STYLES---------------------------*/


footer {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--darkcyan);
    color:whitesmoke;
    margin-top:7em;
}

footer .container {
    max-width:1400px;
    display:grid;
    text-align:center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto 1fr;
    padding:0 0 5% 0;
}

.callToAction {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:1em;
    text-align:center;
    color:black;
    background:white;
    border-radius:15px;
    box-shadow:0px 0px 8px -2px rgba(0,0,0,0.32);
    padding: 2em 2em;
    margin:0 20%;
    transform:translateY(-80px)
}

.callToAction h1 {
    font-size:2em;
}

.callToAction a {
    margin-top:2em !important;
}

footer .container>img {
    grid-column:1;
    padding-bottom:20px;
    justify-self: center;
}

footer .empty {
    grid-column:2/span3;
}

footer a, footer p {
    color:white;
    font-weight:400;
    padding-bottom: 15px;
}

footer a:hover {
    color:#d6d6d6;
}

footer .container div {
    display:flex;
    flex-direction: column;
}


@media screen and (max-width: 1400px) {
    .infoCard {
        margin: 2.5em 10%;
    }

    body {
        font-size:15px;
    }
}